body {
    margin: 0 auto;
}

#container {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    height: 350px;
    width: 350px;
}

h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    animation: glith 3s infinite ease-in-out;
    font-size: 50;
}

@keyframes glith {
    0% {
        text-shadow: none;
    }

    30% {
        text-shadow:-2px -2px 0 cyan;
    }

    60% {
        text-shadow:-2px -2px 0 cyan, 2px 2px 0 red;
    }
}